.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 1% 0;
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
  color:white;
  background: black;
  text-decoration:none;
  text-decoration-line: none;
}

.container{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.subMenu{
border:1px solid black;
width:80%;
margin: 0 auto;
}

.menuItem{
  border:1px solid black;
  width:80%;
  margin: 0 auto;
}

.flexMenu{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}


